extends layout

block content
  .container.mt-5
    .input-group.input-group-lg
      .input-group-prepend
        span#inputGroup-sizing-lg.input-group-text Large
      input.form-control#guess(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-lg')
  script(src="javascripts/guess.js")